<div class="secondary-post">
	<time class="date">{{date}}</time>
	<h2 class="secondary-title">
		{{title}}
	</h2>
	<p class="secondary-subtitle">
		{{meta_description}}
	</p>
	<div class="tags">
	    {{tags separator=" "}}
	</div>
</div>